#circle-container {
  position: relative;
}

#circle-container .circle {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  height: 100vh;
}

#circle-container .circle .fa-circle {
  font-size: 50px;
}

.header-content {
  overflow-y: hidden;
}

.cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #82c225;
  background-color: #82c225;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: blur(30px);
}

.hovered-link {
  color: #fff;
}

.link-grow {
  transform: scale(2);
  background: #82c225;
}

#header {
  height: 150vh;
  padding-bottom: 200px;
}

.header-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.header-footer a {
  text-decoration: none;
}

.header-footer p {
  color: #fff;
  font-size: 16px;
}

.header-footer .left {
  width: 30%;
}

.search_course_wrap input:focus {
  box-shadow: none;
}

.search_course_wrap input {
  padding: 12px;
}

.search_course_wrap .search_course_btn {
  background: -webkit-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: -moz-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: -ms-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: -o-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  /* background: -webkit-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: -moz-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: -ms-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: -o-linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background: linear-gradient(to right, #82c225 0%, #82c225 51%, #82c225 100%);
  background-size: 200% auto;
  border-radius: 0;
  color: #fff;
  position: relative;
  left: 0px;
  padding: 10px 35px;
  border: 0;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; */
  border-radius: 0;
}

.basic-3 {
  padding-top: 0.075rem;
  /* padding-bottom: 6.125rem; */
  margin-left: 7rem;
  margin-top: -20px;
}

.slide-text marquee {
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 100px;
  font-family: 'Rubik', sans-serif;
}

.slide-text .maerquee2 {
  margin-left: 50px;
}

.about {
  margin-top: 50px;
}

.about .p-heading {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  color: #222;
  font-weight: 300;
}

.about h2 {
  margin-top: -60px;
}

#request h1 {
  color: #eee;
  font-family: 'Archivo Black', sans-serif;
}

#request p, #request ul li {
  color: #eee;
  font-size: 28px;
  line-height: 1.28;
}

#request ul li {
  color: #eee;
  font-size: 28px;
  line-height: 1.5;
}

.services {
  margin-top: 20px;
}

.services h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.info-graphics {
  width: 95%;
  z-index: 0;
}

.services .col-lg-10 {
  margin-top: 20px;
}

.services .col-lg-9 {
  margin-top: 20px;
}

/* 


.services .col-lg-6 {
  margin-left: 440px;
} */

.second-sec {
  margin-top: 50px;
}

.par {
  color: #82c225;
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
  margin-top: 10px;
}

.img3 {
  margin-top: 80px;
}

.footer h1 {
  font-size: 156px;
  font-family: 'Archivo Black', sans-serif;
  line-height: 6.2rem;
}

.h1h1 {
  margin-left: 100px;
}

.heading-right {
  margin-left: 80px;
}

.heading-right p {
  width: 70%;
}

.heading-right a {
  text-decoration: none;
  position: relative;
  top: 40%;
  background-color: #82c225;
  color: #fff;
  font-size: .8rem;
  font-weight: 300;
  border-radius: 50%;
  padding: 70px 30px;
  transition: all .3s ease;
}

.head-right {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-right a {
  text-decoration: none;
  background-color: #82c225;
  color: #fff;
  font-size: .8rem;
  font-weight: 300;
  border-radius: 50%;
  padding: 70px 30px;
  transition: all .3s ease;
}

.head-right a:hover {
  background-color: #222;
  color: #fff;
  padding: 60px 20px;
}

.heading-right a:hover {
  background-color: #fff;
  color: #222;
  padding: 60px 20px;
}

.v1 {
  border-left: 2px solid #82c225;
  margin-left: 50px;
}

.sect h1 {
  color: #82c225;
  font-size: 40px;
  text-decoration: underline;
  font-family: 'Archivo Black', sans-serif;
}

.gallery-img img:hover {
  /* background: url(../assets/img/gallery/studio-1.png); */
}

.clients {
  background-color: #E7FBEE;
  padding: 150px 0;
}

.client p {
  color: #111;
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 100;
}

.h2 {
  margin-top: -10px;
}

.client img {
  width: 100px;
  margin-bottom: 30px;
  margin-left: 70px;
}

/* .client .logic, .client .cash, .client .cbt, .client .near {
  width: 100px;
}

.client .crowd, .client .petro, .client .wit, .client .nlpc {
  width: 100px;
}

.client .wtc, .client .seed, .client .times, .client .bsn {
  width: 100px;
}

.cli2, .cli3 {
  margin-top: 15px;
}



.client .qqq {
  width: 100px;
}

.cli .human {
  width: 80px;
}

.client .col-lg-7 {
  margin-left: 90px;
} */

.footer p {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  line-height: 2rem;
}

.last h6 {
  margin-left: 15px;
}

.fa-whatsapp {
  color: #06D755;
  font-size: 30px;
  margin-left: 10px;
}

.links {
  display: flex;
  margin-top: -30px;
  margin-left: 30px;
}

.links a {
  text-decoration: none;
}

.links p {
  color: #fff;
  font-size: 0.8rem;
  margin-top: -35px;
  padding: 20px;
}

.links p:hover {
  color: #eee;
}

.copyright a {
  text-decoration: none;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  background-color: #0A1B2B;
  color: #fff;
}

.icon-bar a:hover {
  background-color: #000;
}

@media screen and (max-width:769px) {
  .header h1 {
    font-size: 50px;
    margin-top: 20px;
  }
  #header {
    height: 120vh;
    padding-left: 60px;
    padding-right: 60px;
  }
  .header-footer {
    margin-top: 80px;
  }
  .header-footer .left {
    display: none;
  }
  .services .col-lg-10 {
    margin-left: 0px;
  }
  .services .col-lg-8 {
    margin-left: 0px;
  }
  .services .col-lg-6 {
    margin-left: 0px;
  }
  .basic-3 {
    padding-top: 0.075rem;
    margin-left: 13rem;
    margin-top: -30px;
  }
  .about {
    padding-left: 50px;
    padding-right: 50px;
  }
  .basic-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
  .links {
    flex-direction: column;
    margin-left: 0px;
  }
  .heading-right p {
    margin-bottom: 80px;
    width: 100%;
  }
  .second-sec {
    margin-top: 100px;
  }
  .second-sec img {
    margin-bottom: 20px;
  }
  .heading-right {
    margin-left: 0px;
  }
  .heading-right a {
    position: relative;
    top: 0%;
    margin-top: 50px;
  }
  .client .col-lg-4 {
    padding-left: 70px;
    padding-right: 40px;
  }
  .client .col-lg-7 {
    margin-top: 30px;
  }
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
  .footer h1 {
    font-size: 90px;
  }
  .h1h1 {
    margin-top: -70px;
    margin-left: 70px;
  }
  .basic-1 .head-right a {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .bsn, .times, .wtc, .bsn {
    display: none;
  }
  .client img {
    width: 100px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .client .crowd, .client .petro, .client .wit {
    margin-left: 150px;
  }
  .client .near, .client .cbt, .client .cash, .client .qqq {
    margin-left: 60px;
  }
}

@media screen and (max-width:420px) {
  .header h1 {
    font-size: 26px;
  }
  #header {
    height: 120vh;
    padding-left: 50px;
    padding-right: 25px;
  }
  .header-footer {
    flex-wrap: wrap;
  }
  .header-footer a {
    margin-left: -5px;
  }
  .header-footer p {
    font-size: 14px;
  }
  .client .near, .client .cbt, .client .cash, .client .qqq {
    margin-left: 60px;
  }
  .client .crowd, .client .petro, .client .wit {
    margin-left: 100px;
  }
  .second {
    margin-left: -60px;
  }
  .basic-3 {
    padding-top: 0.075rem;
    margin-left: 5rem;
    margin-top: -40px;
  }
  .header-footer .left {
    width: 100%;
  }
  .header-footer .left a {
    margin-left: -130px;
    margin-top: 20px;
  }
  .header-footer .right {
    margin-top: -60px;
  }
  .basic-3 .video-play-button:before {
    width: 3rem;
    height: 3rem;
    ;
  }
  .basic-3 .video-play-button:after {
    width: 3rem;
    height: 3rem;
  }
  .about {
    margin-top: 50px;
    padding-left: 70px;
  }
  .about p {
    width: 100%;
  }
  .services .col-lg-10 {
    margin-left: 0px;
  }
  .services .col-lg-8 {
    margin-left: 0px;
    margin-top: 20px;
  }
  .services .col-lg-6 {
    margin-top: 20px;
    margin-left: 0px;
  }
  .basic-1 .para {
    font-size: 24px;
  }
  .par {
    font-size: 20px;
    margin-top: 5px;
  }
  .head-right {
    margin-top: -35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img3 {
    margin-top: 20px;
  }
  /* .client img {
    margin-top: 30px;
  }
  .client p {
    font-size: 24px;
  }
  .cli, .cli3 {
    display: flex;
    flex-direction: column;
  } */
  .footer h1 {
    font-size: 44px;
    line-height: 1;
  }
  .links {
    flex-direction: row;
    margin-left: 0px;
  }
  .h1h1 {
    margin-top: -50px;
    margin-left: 40px;
  }
}