body {
  font-family: 'Montserrat', sans-serif;
}

.make-customer-area .right {
  margin-left: 120px;
  margin-top: 50px;
}

.make-customer-area .left {
  margin-top: 50px;
}

.header-btn {
  margin-top: 10px;
  padding: 10px;
}

#hero .pera-dtails {
  width: 100%;
}

#steps {
  margin-top: -150px;
  /* margin-left: -100px; */
}

#steps .btn, #accredit .btn {
  margin-left: -100px;
}

#steps img {
  width: 75%;
}

#steps .line {
  margin-top: 100px;
  margin-left: -100px;
  margin-bottom: 30px;
}

#steps .line-content {
  margin-left: 60px;
}

.icons {
  margin-top: 50px;
}

.icons img {
  margin-top: 20px;
  margin-bottom: 30px;
}

.icons .btn {
  padding: 20px;
  font-size: 14px;
}

.images::before {
  background-image: none;
  position: absolute;
  content: "";
  top: -59px;
  right: -11px;
  max-width: 645px;
  z-index: -2;
  height: 479px;
  width: 500px;
}

.make-customer-area .lefts {
  margin-left: -50px;
}

.make-customer-area .lefts img {
  width: 500px;
}

.image::before {
  background-image: none;
  position: absolute;
  content: "";
  top: -59px;
  right: -11px;
  max-width: 645px;
  z-index: -2;
  height: 479px;
  width: 500px;
}

.image {
  margin-top: -150px;
}

.customer-captions .caption-details {
  border-radius: 10px;
  background-color: #fff;
  padding: 40px 0px 0px 40px;
  margin-top: 100px;
  box-shadow: 1.395px 19.951px 38px 19.95px rgba(0, 0, 0, 0.05);
}

.pera-dtails {
  width: 60%;
}

.customer-captions h2 {
  font-size: 36px !important;
  font-weight: bold;
}

.customer-captions .caption-details h3 {
  color: #82c225;
  font-weight: bold;
}

.customer-captions .caption-details h4 {
  font-weight: bold;
  margin: 20px 0;
}

.customer-captions .caption-details .btn {
  font-weight: bold;
  margin: 10px 0;
}

.customer-captions .caption-details p {
  padding-bottom: 10px;
}

.customer-captions {
  padding-left: 0 !important;
}

.monthly img {
  width: 80%;
}

.monthly .left {
  margin-left: 90px;
  margin-top: -10px;
}

.monthly h2 {
  margin-top: -70px;
}

.service-area {
  margin-top: -100px;
}

.service-area .col-xl-4 {
  display: flex;
  margin-top: 20px;
}

.service-area .col-xl-4 i {
  background-color: #eee;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.service-area .col-xl-4>div {
  margin-left: 30px;
  margin-top: -5px;
}

@media screen and (max-width: 769px) {
  #steps {
    margin-top: -50px;
  }
  #steps .btn, #accredit .btn {
    margin-left: 0px;
  }
  #steps .line {
    margin-top: 100px;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  #steps .line-content {
    margin-left: 0px;
  }
  #steps .line-content i {
    margin-top: 10px;
  }
  #steps img {
    width: 100%;
  }
  .pera-dtails {
    width: 100%;
  }
  .customer-captions .caption-details {
    border-radius: 10px;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    margin-top: 100px;
    box-shadow: 1.395px 19.951px 38px 19.95px rgba(0, 0, 0, 0.05);
  }
  .customer-captions {
    margin-top: 50px;
  }
  .monthly .left {
    margin-left: 0px;
    margin-top: -10px;
  }
  .monthly img {
    width: 100%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  #steps .line {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .hero {
    margin-top: -50px;
  }
  .make-customer-area .right {
    margin-left: 0px;
    margin-top: 100px;
  }
  .make-customer-area .lefts {
    margin-left: -100px;
  }
  .icons .btn {
    padding: 20px;
    font-size: 14px;
    margin-top: 100px;
  }
}