body {
  background-color: #0A1B2B;
}

.site-footer img {
  width: 50px;
  margin-left: 100px;
}

.site-footer p {
  margin-left: 100px;
}

.site-footer {
  margin-bottom: 0;
}

@media screen and (max-width: 769px) {
  .site-footer img {
    margin-left: 0;
  }
  .site-footer p {
    margin-left: 0;
  }
}