.cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #fff;
  /* background-color: #fff; */
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: blur(30px);
}

.hovered-link {
  color: #fff;
}

.link-grow {
  transform: scale(2);
}

#home-section {
  background-color: #0A1B2B;
}

li {
  list-style: none;
  color: #fff;
}

.site-navigation ul ul {
  position: absolute;
  padding: 0;
  min-width: 100px;
  font-size: 14px;
  top: 100%;
  display: none;
  transition: all 0.4s ease;
}

.site-navigation ul li:hover>ul {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin-left: -10px;
  transition: all 0.4s ease;
}

.site-navigation ul li:hover>ul li a {
  color: #222;
  padding: 5px;
  transition: all 0.4s ease;
}

.site-navigation ul li:hover>ul li a:hover {
  color: #82c225;
  transition: all 0.4s ease;
}

.btn-primary {
  background-color: #82c225;
  color: #fff;
  border-radius: 4px;
  border: none !important;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #fff;
  color: #82c225;
}

.dropdown-toggl::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transition: all .5s ease;
  transform: translateY(-50%);
}

.menu ul ul {
  display: none;
  /* visibility: hidden; */
  /* opacity: 0; */
  transition: all .5s ease
}

.menu ul ul li a.act {
  color: white !important;
  font-weight: bold;
  transition: all .5s ease
}

.menu ul li:hover>ul {
  display: block;
  /* visibility: visible; */
  /* opacity: 1; */
  transition: all .5s ease
}

.menu ul ul a {
  font-size: 0.8em !important;
  padding-left: 50px !important;
  color: #fff;
  transition: all .5s ease
}

.menu ul ul a:hover {
  color: #82c225;
}

.card-body {
  background-color: #0A1B2B !important;
}

#accordion {
  margin-top: 50px;
  margin-left: 100px;
}

#accordion .card {
  background-color: #0A1B2B;
  margin-top: 50px;
}

#accordion button {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  margin-top: 50px;
}

.portfolio-wrap {
  margin-top: 5px;
}

.portfolio-wrap p {
  font-size: 20px;
  color: #82c225;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 769px) {
  .gallery__item {
    height: 100vh;
  }
  #accordion {
    margin-top: 50px;
    margin-left: 0px;
  }
  .portfolio-wrap img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .site-navbar {
    margin-left: 10px;
  }
  .blog-section .img-fluid, .blog-section {
    display: none;
  }
  .portfolio-wrap, .footer {
    padding: 10px;
    margin-left: 20px;
  }
  footer p {
    color: rgb(224, 219, 219);
    font-size: 14px !important;
    font-weight: 300;
  }
}